---
layout: default
title: 归档
---

<section class="box main-inner">
    <div class="archive-list content">
        {% for post in site.posts %}

        {% unless post.next %}
        <li><strong>{{ post.date | date: '%Y年' }}</strong></li>
        {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}

        <li><strong>{{ post.date | date: '%Y年' }}</strong></li>
        {% endif %}
        {% endunless %}

        <li class="text-left">{{ post.date | date:"%Y-%m-%d" }}
            <i><a href="{{ post.url }}">{{ post.title }}</a></i>
        </li>
        {% endfor %}
    </div><!-- .padd-box-sm -->
</section><!-- .section -->
