---
layout: default
title: 首页
---

<section class="tagcloud-section">
	<header>所有标签</header>
	<div class="tagcloud">
		{% for tag in site.tags %}
		<a href="tags#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
		{% endfor %}
	</div>
</section>
<hr />

<section>
	<header>文章</header>
	<div class="posts">
		{% for post in paginator.posts %}
		<div class="post">
			<h1 class="post-title">
				<a href="{{ post.url }}">
					{{ post.title }}
				</a>
			</h1>
			<span class="post-date">{{ post.date | date_to_string }}</span>

			<span class="post-meta">
				Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
			</span>
			<div class="post-content-preview">
					{{ post.content | strip_html | truncate:200 }}
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- 分页链接 -->
	{% if paginator.total_pages > 1 %}
	<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
		<span>&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<em>{{ page }}</em>
		{% elsif page == 1 %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
		<span>Next &raquo;</span>
	{% endif %}
	</div>
	{% endif %}
</section>