---
layout: default
title: 标签
---

<!-- 标签列表 -->
<div class="pf-wrap">
    
    <!-- 标签分类 -->
    <div class="pf-filter padd-box">
        <button data-filter="*">All</button>
        {% for tag in site.tags %}
        <button data-filter=".{{ tag[0] }}">{{ tag[0] }}<sub>{{tag[1].size}}</sub></button>
        {% endfor %}
    </div><!-- .pf-filter -->

    <!-- 标签过滤内容 -->
    <div class="pf-grid">
        <div class="pf-grid-sizer"></div><!-- used for sizing -->
        {% for tag in site.tags %}

        <section class="pf-grid-item {{ tag[0] }}">
            <header>
                <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
            </header>
            {% for post in tag[1] %}
            <p>
                <a href="{{ post.url }} ">
                    <span>{{ post.title }}<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time></span>
                </a>
            </p>
            {% endfor %}
        </section>

        {% endfor %}
    </div><!-- .pf-grid -->
</div><!-- .pf-wrap -->