---
layout: page
title: 标签
---

<!-- 标签云 -->

<section>
    <header>所有标签</header>
    <div class="tags">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
        {% endfor %}
    </div>
</section>
<hr/>

<!-- 标签列表 -->
{% for tag in site.tags %}

<section>
    <header>
        <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
    </header> 
    {% for post in tag[1] %}
	<p>
        <a href="{{ post.url }} ">
            <span>{{ post.title }}{{ post.date | date_to_string }}</span>
        </a>
    </p>
    {% endfor %}
</section>

{% endfor %}
