---
layout: default
title: 标签
---

<!-- 标签列表 -->
<div class="zero-wrap">
    
    <!-- 标签分类 -->
    <div class="zero-filter padd-box" id="zero-filter"> 
        <button data-filter="*" class="active">All</button>
        {% for tag in site.tags %}
        <button data-filter=".{{ tag[0] }}">{{ tag[0] }}<sup style="color:red">{{tag[1].size}}</sup></button>
        {% endfor %}
    </div>

    <!-- 标签过滤内容 -->
    <div class="zero-grid" id="zero-filterItem">
        <div class="zero-grid-sizer"></div><!-- used for sizing -->
        {% for tag in site.tags %}

        <section class="zero-grid-item {{ tag[0] }}">
            <header>
                <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
            </header>
            {% for post in tag[1] %}
            <p>
                <a href="{{ post.url }} ">
                    <span>{{ post.title }}
                        <time datetime="{{ post.date | date:"%Y-%m-%d" }}"><small>[{{ post.date | date:"%Y-%m-%d" }}]</small></time>
                    </span>
                </a>
            </p>
            {% endfor %}
        </section>

        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            $('#zero-filter').children().click(function(){
                // 获取自定义的属性
                var data_filter = $(this).attr("data-filter");
                $("#zero-filter").children().removeClass("active");
                if(data_filter!=='*' && !$(this).hasClass("active")){
                    $("#zero-filterItem").children().filter(data_filter).removeClass("hidden").fadeIn();
                    $("#zero-filterItem").children().not(data_filter).addClass("hidden").fadeOut();
                    return $(this).addClass("active");
                }else if(data_filter==='*') {
                    $("#zero-filterItem").children().removeClass("hidden").fadeIn();
                    return $(this).addClass("active");
                }else if(data_filter!=='*' && $(this).hasClass("active")){
                    $("#zero-filter button").first().addClass('active');
                    return $("#zero-filterItem").children().removeClass("hidden").fadeIn();
                }
            });
        });
    </script>
</div>