pre {
  max-height: 50vh;
  overflow: auto;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.15rem;
}

h3 {
  font-size: 1.05rem;
}

.content {
  margin-top: 0px;
  padding-top: 10px;
  background-color:rgba(232, 214, 231, 0.19);
  min-height: 95vh;
}

.masthead {
  background-color: #fff;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.social {
  text-align: center;
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}

.sidebar-toggle {
  position: fixed;
  padding: 0.15rem;
}

.sidebar-toggle:before,
.sidebar-toggle:active:before,
#sidebar-checkbox:focus~.sidebar-toggle:before,
#sidebar-checkbox:checked~.sidebar-toggle:before {
  background-image: none;
}

.search-container {
  right:10px;
  top:10px;
  position: absolute;
  display: block;
  width: 25vw;
  height: 50px;
  z-index: 100;
  margin-bottom: 3em;
}
.sidebar-toggle{
  z-index: 500;
}
@media (max-width:480px) {
  .container {
    padding-top: 40px;
  }
  .content {
    margin-top: 2px;
    padding-top: 5px;
    background-color: rgb(235, 235, 235);
  }

  .search-container {
    left: 15%;
    top: 2px;
    position: absolute;
    display: block;
    width: 80vw;
    height: 50px;
    z-index: 100;
    margin-bottom: 3em;
  }
}
#search-input {
  background: #f0f0f0;
  border: none;
  color: rgb(0, 0, 0);
  width: 100%;
}

input#search-input {
  outline-style: none;
  /*取消外边框*/
  border: 1px solid #aa759f;
  border-radius: 3px;
  padding: 10px 10px;
  width: 100%;
  font-size: 18px;
  font-family: "Microsoft soft";
}

input#search-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

#results-container {
  background: #eee3f0;
  /* left: 56px;  */
  /* position: absolute;  */
  /* top: 68px;  */
  /* border: 1px solid #ccc;  */
  width: 100%;
  max-height: 150px;
  overflow: auto;
}
#results-container a{
  margin: 2px;
  padding: 2px;
  text-decoration: none;
}
#results-container a:hover{
  background: rgb(248, 241, 248);
}


.post-date {
  margin-top: 0px;
}

.related {
  border-top: 0px solid #eee;
}

.reward {
  padding: 1rem 0;
  margin: 1rem;
  text-align: center;
}

#rewardButton {
  background-color: #aa759f;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0px solid;
}

#rewardQRs {
  display: none;
  border: 0px solid;
}

.reward_qr {
  border: 0px solid;
  background: none;
}

/*头像效果-start*/
.ih-item.circle.effect {
  margin: 0 auto;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}

.ih-item.circle.effect .img {
  z-index: 11;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ih-item.circle.effect .info {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ih-item.circle.effect .info .info-back {
  opacity: 1;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.ih-item.circle.effect .info h2 {
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 30px;
  height: 30px;
}

.ih-item.circle.effect .info p {
  padding: 0px 0px 0px 0px;
  padding-left: 0px;
  font-size: 10px;
}

.ih-item.circle.effect.bottom_to_top .img {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.ih-item.circle.effect.bottom_to_top a:hover .img {
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  -ms-transform: rotate3d(1, 0, 0, 180deg);
  -o-transform: rotate3d(1, 0, 0, 180deg);
  transform: rotate3d(1, 0, 0, 180deg);
}

.ih-item.circle.effect.top_to_bottom .img {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.ih-item.circle.effect.top_to_bottom a:hover .img {
  -webkit-transform: rotate3d(1, 0, 0, -180deg);
  -moz-transform: rotate3d(1, 0, 0, -180deg);
  -ms-transform: rotate3d(1, 0, 0, -180deg);
  -o-transform: rotate3d(1, 0, 0, -180deg);
  transform: rotate3d(1, 0, 0, -180deg);
}

.ih-item.circle.effect.left_to_right .img {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.ih-item.circle.effect.left_to_right a:hover .img {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}

.ih-item.circle.effect.right_to_left .img {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.ih-item.circle.effect.right_to_left a:hover .img {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}

.ih-item a:hover {
  text-decoration: none;
}

.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.ih-item.circle .img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.ih-item.circle .img img {
  border-radius: 50%;
}

.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media all and (max-width: 780px) {
  .ih-item.circle .img {
    position: relative;
    width: 100px;
    height: 100px;
    /*margin-top: 20px;*/
    border-radius: 50%;
  }

  .ih-item.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .ih-item.circle .info .info-back h2 {
    font-size: 0.9em;
  }
}

/*头像效果-end*/

/* tags-list */


.tagcloud-section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: left;
    text-align: justify;
}

.tagcloud {
  position: relative;
  text-align: justify;
  padding: 3px;
  /* margin-top: -150px; */
}

.tagcloud a {
  display:inline-table;
  padding: 6px 12px;
  margin:3px; 
  font-size: 14px;
  border: 1px solid #e6e7e8;
  border-radius: 15px;
  background-color: #f2f4f8;
  text-decoration: none;
  white-space: nowrap;
  -o-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
  -ms-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
  -moz-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
  -webkit-box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
  box-shadow: 6px 4px 8px 0 rgba(151, 142, 136, .34);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";
  /*兼容ie7/8*/
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
  /*strength是阴影大小，direction是阴影方位，单位为度，可以为负数，color是阴影颜色 （尽量使用数字）使用IE滤镜实现盒子阴影的盒子必须是行元素或以行元素显示（block或inline-block;）*/
}

.tagcloud a:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

#back-top{
  width: 35px;
  height: 35px;
  background: #aa759f;
  position:fixed;
  bottom: 5%;
  right: 5%;
  color: #fff;
}

