/* default */

*,
::before,
::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
    outline: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
/* ::-webkit-scrollbar {
    width: 5px;
    height: 5px
} */
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    background-color: #abc2d3;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #eee;
    letter-spacing: .03em;
    color: #222;
    overflow-y: scroll;
    overflow-x: hidden;
    font: 400 14px/1.6 -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #000;
}

/* 修改图片加载失败样式 */
img {
    display: block;
    position: relative;
    overflow: hidden;
    /* 隐藏Firefox alt文字 */
    color: transparent;
    text-align: center;
}

img:not([src]) {
    /* 隐藏Chrome alt文字以及银色边框 */
    visibility: hidden;
}

img::before {
    /* 淡蓝色占位背景 */
    content: "Break";
    color: #fff;
    position: absolute;
    text-align: justify;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color:#323232;
}

img::after {
    /* 黑色alt信息条 */
    content: "\f127"attr(alt) " 加载失败 ";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 30px;
    background-color: #323232;
    color: #fff;
    font-size: 14px;
    transform: translateY(100%);
    /* 来点过渡动画效果 */
    transition: transform .2s;
    visibility: visible;
}

img:hover::after {
    transform: translateY(0);
}

img,
iframe,
video,
audio {
    max-width: 100%;
}

hr {
    margin: 20px;
}

main {
    width: 100%;
    margin: 0 auto;
}

.box {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.box-shadow {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.header,
.footer {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

main,
.header,
.footer {
    max-width: 768px;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    top: 0;
    max-width: 768px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    background-color: #fff;
}

.footer {
    border-top: 2px solid #fff;
    text-align: center;
    max-width: 768px;
    margin: auto;
    height: 120px;
    color: #fff;
    background-color: #323232;
}

.footer a {
    color: #fff;
}

.content a {
    color: #146be6e0;
}

.content a:hover {
    color: #222;
}

.nav {
    flex: auto;
    align-items: center;
    position: relative;
}

.nav .title {
    margin-left: 10px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    text-overflow: ellipsis;
    letter-spacing: normal;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.logo,
.avatar img {
    width: 40px;
    height: 40px;
}

.avatar img {
    transition: transform .3s, -webkit-transform .3s;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #fff;
    background-color: #fff;
    overflow: hidden;
    display: block;
    cursor: pointer;
    position: relative;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.toggle {
    display: none;
}

.menu {
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
    list-style: none;
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    overflow: hidden;
    -webkit-transform-origin: calc(100% - 20px) 20px;
    transform-origin: calc(100% - 20px) 20px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 160px;
    border-radius: 2px 2px 2px 2px
}

.menu li {
    position: relative;
    border-bottom: 1px solid #969696
}

.menu li:last-child {
    border-bottom: none
}

.menu li.active a,
.menu li:hover a {
    color: #fff;
    background-color: #323232;
}

.menu li a {
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block;
    overflow: hidden;
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
}

.toggle:checked~.mask {
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.toggle:checked~.menu {
    pointer-events: auto;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}

.toggle:checked~.avatar img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.main-inner {
    padding: 20px;
    background: #fff;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.pagination {
    width: 50%;
    padding: 20px;
    margin-top: 50px;
}

.pagination li {
    flex: 1;
    text-align: center;
    border-radius: 3px;
}
.disabled{
    cursor: not-allowed;
}

.pagination li:hover ,li.current{
    background-color: #888;
    color: #fff;
}
.pagination li:hover a,li.current a{
    color: #fff;
}

.pagination li+li {
    margin-left: 10px;
}

.pagination li:hover,
.previous:hover,
.next:hover {
    opacity: 0.8;
}

.pagination li a,
.pagination li span {
    display: block;
}

/* post */

.content,
.post {
    width: 100%;
}

.post {
    padding: 10px;
    border-left: 5px #eee solid;
    margin: 10px;
    justify-content: space-between;
    flex-direction: column;
    min-height: 110px;
}

.post-header {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-info {
    color: #969696;
    margin-left: 20px;
}

.post-media {
    overflow: hidden;
}

.post-figure {
    justify-content: center;
}

.post:hover {
    border-left: 5px solid #323232;
}

.post-date {
    display: inline-block;
    margin-right: 5px;
    font-style: italic;
}

.post-author {
    display: inline-block;
}

.post-author::before {
    content: "by [";
}

.post-author::after {
    content: "]";
}

.post-tags a {
    background-color: #7b7b7b;
    padding: 1px 5px;
    cursor: pointer;
    color: #fff;
    margin: 0 5px;
}

.post-urls {
    width: 100%;
    padding: 0 10px;
    flex-flow: column;
}

.previous,
.next {
    padding: 5px;
    flex: auto;
    background-color: #323232;
    border-radius: 3px;
    margin: 10px;
}

.previous a,
.next a,
.previous a:hover,
.next a:hover {
    color: #fff;
    display: block;
}


/* tagFilter */
.zero-filter {
    margin-bottom: 25px;
    border-bottom: 2px #eee solid;
    padding: 30px;
    flex-flow: wrap;
    align-items: baseline;
}

.zero-filter button {
    border: 1px #323232 solid;
    padding: 5px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    margin: 2px 5px;
}

.zero-filter .active,
.zero-filter button:hover {
    background: #323232;
    color: #fff;
}

.zero-grid {
    margin-left: -1px;
    margin-right: -1px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.zero-grid-item {
    float: left;
    padding: 1px;
    width: 100%;
}

.zero-grid::before,
.zero-grid::after {
    content: " ";
    display: table;
}

.zero-grid::after {
    clear: both;
}



/* search */

.widget_search {
    margin-left: 30px;
    position: relative;
}

#results-container {
    width: 100%;
    list-style: none;
    background: #fff !important;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    word-break: break-word;
}
#results-container li {
    border-bottom: 1px solid #969696
}
#results-container li a {
    display: block;
}
#results-container li:hover{
    background: #323232;
}
#results-container li:hover a{
    color: #fff;
}

.search-form .search-field {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: #323232 solid 2px;
}

#toc {
    position: fixed;
    word-break: break-word;
    top: 80px;
    right: 20px;
    background: #fff;
    max-height: 70vh;
    min-width: 200px;
    width: 100%;
    max-width: 240px;
    overflow: auto;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

#toc i {
    border-bottom: 1px solid #eee;
}

#rewardButton {
    cursor: pointer;
    padding: 15px;
    background: transparent !important;
    border: 1px #323232 solid;
    color: #222;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#rewardButton:hover {
    background: #323232 !important;
    color: #fff !important;
}

.backtop {
    background-color: #323232;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    padding: 16px 11px;
    text-decoration: none;
}

.backtop:hover {
    opacity: 0.8;
    background-color: #323232;
}


/* archive list */

.archive-list {
    padding: 10px;
    position: relative;
    border: 1px solid #fff;
}

.archive-list li {
    list-style: none;
    padding: 5px 5px 5px 20px;
    border-left: 1px solid #323232;
}

.archive-list li::before {
    content: '';
    display: inline-block;
    width: 10px;
    position: absolute;
    height: 10px;
    left: 5px;
    margin-top: 7px;
    border-radius: 50%;
    background: #323232;
}

@media(max-width:480px){
    .nav .title {
        max-width: 120px;
    }
    .pagination {
        width: 100%;
    }
}
@media (max-width:993px) {
    #toc {
        position: relative;
        top: 0;
        right: 0;
        background: #fff;
        overflow: auto;
        padding: 20px;
        max-width: 100%;
    }
}

@media(max-width:768px) {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        margin: 0;
    }
    .footer {
        margin: 0;
    }

    main {
        padding-top: 52px;
    }

    .post-header {
        flex-flow: wrap;
    }
}

@media (min-width: 768px) {
    .widget_search {
        width: 330px;
    }
    .zero-grid-item,
    .zero-grid-sizer {
        width: 50%;
    }
}


.github-themes a {
    color: #4183C4;
}

.github-themes h1,
.github-themes h2, 
.github-themes h3,
.github-themes h4,
.github-themes h5,
.github-themes h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}


.github-themes h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.github-themes h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.github-themes h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.github-themes h4 {
    font-size: 1.25em;
}

.github-themes h5 {
    font-size: 1em;
}

.github-themes h6 {
    font-size: 1em;
    color: #777;
}

.github-themes p,
.github-themes blockquote,
.github-themes ul,
.github-themes ol,
.github-themes dl,
.github-themes table {
    margin: 0.8em 0;
}

.github-themes li>ol,
.github-themes li>ul {
    margin: 0 0;
}

.github-themes hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

.github-themes li p.first {
    display: inline-block;
}

.github-themes ul,
.github-themes ol {
    padding-left: 10px;
}

.github-themes ul:first-child,
.github-themes ol:first-child {
    margin-top: 0;
}

.github-themes ul:last-child,
.github-themes ol:last-child {
    margin-bottom: 0;
}

.github-themes table {
    padding: 0;
    word-break: initial;
}

.github-themes table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

.github-themes table tr:nth-child(2n),
.github-themes thead {
    background-color: #f8f8f8;
}

.github-themes table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

.github-themes table tr td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}

.github-themes table tr th:first-child,
.github-themes table tr td:first-child {
    margin-top: 0;
}

.github-themes table tr th:last-child,
.github-themes table tr td:last-child {
    margin-bottom: 0;
}