/* default */

*,
::before,
::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
    outline: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
/* ::-webkit-scrollbar {
    width: 5px;
    height: 5px
} */
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    background-color: #abc2d3;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #eee;
    letter-spacing: .03em;
    color: #222;
    overflow-y: scroll;
    overflow-x: hidden;
    font: 400 14px/1.6 -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a {
    color: #333;
}

a:hover {
    color: #000;
}

/* 修改图片加载失败样式 */
img {
    display: block;
    position: relative;
    overflow: hidden;
    /* 隐藏Firefox alt文字 */
    color: transparent;
    text-align: center;
}

img:not([src]) {
    /* 隐藏Chrome alt文字以及银色边框 */
    visibility: hidden;
}

img::before {
    /* 淡蓝色占位背景 */
    content: "Break";
    color: black;
    position: absolute;
    text-align: justify;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgb(230, 230, 230);
    /* border: 2px dotted rgb(200, 200, 200); */
}

img::after {
    /* 黑色alt信息条 */
    content: "\f127"attr(alt) " 加载失败 ";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 30px;
    background-color: rgba(24, 44, 56, 0.5);
    color: white;
    font-size: 14px;
    transform: translateY(100%);
    /* 来点过渡动画效果 */
    transition: transform .2s;
    visibility: visible;
}

img:hover::after {
    transform: translateY(0);
}

img,
iframe,
video,
audio {
    max-width: 100%;
}

hr {
    margin: 20px;
}

main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.box {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.box-shadow {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.header,
.footer {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.header {
    position: sticky;
    z-index: 999;
    top: 0;
    max-width: 768px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    background-color: #fff;
}

.footer {
    border-top: 2px solid #fff;
    text-align: center;
    max-width: 768px;
    margin: auto;
    height: 120px;
    color: #a4acb7;
    background-color: #1c2b40;
}

.nav {
    flex: auto;
    align-items: center;
    position: relative;
}

.nav .title {
    margin-left: 10px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    text-overflow: ellipsis;
    letter-spacing: normal;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.logo,
.avatar img {
    width: 40px;
    height: 40px;
}

.avatar img {
    transition: transform .3s, -webkit-transform .3s;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #fff;
    background-color: #fff;
    overflow: hidden;
    display: block;
    cursor: pointer;
    position: relative;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.toggle {
    display: none;
}

.menu {
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #505050;
    opacity: 0;
    overflow: hidden;
    -webkit-transform-origin: calc(100% - 20px) 20px;
    transform-origin: calc(100% - 20px) 20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 160px;
    border-radius: 2px 35px 2px 2px
}

.menu li {
    position: relative;
    border-bottom: 1px solid #7c7a7a
}

.menu li:last-child {
    border-bottom: none
}

.menu li.active a,
.menu li:hover a {
    color: #fff;
    background-color: #323232;
}

.menu li a {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #c8c8c8;
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
}

.toggle:checked~.mask {
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.toggle:checked~.menu {
    pointer-events: auto;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
}

.toggle:checked~.avatar img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.main-inner {
    padding: 20px;
    background: #fff;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.pagination {
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pagination li {
    padding: 5px;
    flex: auto;
    text-align: center;
    background: #eee;
    border-radius: 3px;
}

.pagination li+li {
    margin-left: 10px;
}

.pagination li:hover {
    opacity: 0.8;
}

.pagination li a {
    display: block;
}

/* post */
.post {
    padding: 10px;
    border-left: 5px #eee solid;
    margin: 10px;
    justify-content: space-between;
    flex-direction: column;
    min-height: 110px;
}

.post-header {
    align-items: center;
    justify-content: space-between;
}

.post-info {
    color: #969696;
    margin-left: 20px;
}

.post-media {
    width: 100px;
    overflow: hidden;
}
.post-figure{
    justify-content: center;
}
.post-figure p{
    text-align: center;
    width: 100px;
    overflow: hidden;
    background: #1c2b40;
}
.post-figure p span{
    text-align: center;
    width: 100px;
    overflow: hidden;
    color: #fff;
}

.post:hover{
    border-left: 5px solid #7c7a7a;
}

.post-date {
    display: inline-block;
    margin-right: 5px;
    font-style: italic;
}

.post-author {
    display: inline-block;
}

.post-author::before {
    content: "by [";
}

.post-author::after {
    content: "]";
}

.content,
.post {
    width: 100%;
}


/* tagFilter */
.zero-filter {
    margin-bottom: 25px;
}

.zero-grid.loaded {
    visibility: visible;
    opacity: 1;
    position: relative;
    height: 140.2px;
}

.zero-grid {
    margin-left: -1px;
    margin-right: -1px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.zero-grid-item {
    float: left;
    padding: 1px;
    width: 100%;
}

.zero-grid::before,
.zero-grid::after {
    content: " ";
    display: table;
}

.zero-grid::after {
    clear: both;
}

@media (min-width: 768px) {

    .zero-grid-item,
    .zero-grid-sizer {
        width: 50%;
    }
}

.zero-filter button {
    opacity: 0.54;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin: 0 40px 0 0;
    border: 0;
    padding: 0;
    background: transparent;
}

/* search */

.widget_search {
    margin-left: 30px;
}

#results-container {
    list-style: none;
    background: #f3f3f3;
    position: absolute;
    height: 200px;
    overflow-y: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.search-form .search-field {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: #000 solid 2px;
}

.search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    border: 0;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
}

#toc {
    display: flex;
    position: fixed;
    top: 80px;
    right: 20px;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    height: 200px;
    overflow: auto;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

#toc i {
    border-bottom: 1px solid #eee;
}

.backtop {
    background-color: #c0e3e7;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 16px 11px;
    text-decoration: none;
}

.backtop:hover {
    background-color: #2598b0;
}


/* archive list */

.archive-list {
    padding: 10px;
    position: relative;
    border: 1px solid #fff;
}

.archive-list li {
    list-style: none;
    padding: 5px 5px 5px 20px;
    border-left: 1px solid #ccc;
}

.archive-list li::before {
    content: '';
    display: inline-block;
    width: 10px;
    position: absolute;
    height: 10px;
    left: 6px;
    margin-top: 7px;
    border-radius: 50%;
    background: #abc2d3;
}

@media (max-width:993px) {
    .archive-list li::before {
        content: '';
        display: inline-block;
        width: 10px;
        position: absolute;
        height: 10px;
        left: 7px;
        margin-top: 7px;
        border-radius: 50%;
        background: #abc2d3;
    }

    #toc {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        overflow: auto;
        padding: 20px;
    }
}

@media(max-width:468px) {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        margin: 0;
    }

    .nav .title {
        max-width: 120px;
    }

    .footer {
        margin: 0;
    }

    main {
        padding-top: 52px;
    }

    .post-header {
        flex-flow: wrap;
    }
}