<!-- 头像个人社交信息 -->
{% if site.sidebar.avatar.enable %}
<div class="ih-item circle effect">
    <!-- right_to_left -->
    <a class="blog-button" title="{{ site.author }}">
    <img class="img" src="{{ site.sidebar.avatar.img }}" alt="img" />
    <small class="info info-back">
        {{ site.sidebar.avatar.info }}
    </small>
    </a>
</div>
{% endif %}

<p style="text-align: center">{{ site.sidebar.description }}</p>

<div class="social">
    {% for s in site.sidebar.social %}
        <a href="{{ s.href }}" class="{{ s.class }}" title="{{ s.title }}"></a>
    {% endfor %}
</div>