<button id="backTopBtn">Top</button>
<script>
    function backTop(minHeight) {
        // var backTopHtml = '<div >返回</div>'
        // $('#page').append(backTopHtml)

        $('#backTopBtn').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 300)
        }).hover(
            function () {
                $(this).addClass('hover')
            },
            function () {
                $(this).removeClass('hover')
            }
        )
        // 何时出现
        minHeight ? minHeight = minHeight : minHeight = 100

        $(window).scroll(function () {
            var s = $(window).scrollTop()
            console.log(s);
            if ($(document).height() - $(window).scrollTop() - $(window).height() > minHeight) {
                $('#backTopBtn').fadeIn(100)
            } else {
                $('#backTopBtn').fadeOut(100)
            }
        })
    }

    backTop();
</script>