{% if site.sidebar.avatar.enable %}
<article id="ace-card" class="ace-card bg-primary hidden-sm hidden-xs">
        <div class="ace-card-inner text-center">
            {% include toc.html%}
        </div>

        <footer class="ace-card-footer">

        <!-- 相关博文3个 -->
        {% include related.html %}
        
        <!-- 标签云 -->

        <section id="tag_cloud-2" class="widget widget_tag_cloud">
                <h2 class="widget-title">Tags</h2>
                <div class="tagcloud">
                    {% for tag in site.tags %}
                        <a href="#{{ tag[0] }}"  rel="{{ tag[1].size }}" class="tag-link-5 tag-link-position-1" title="{{ tag[0] }}"  style="font-size: 1em;">
                            {{ tag[0] }}
                        </a>
                    {% endfor %}
                </div>
        </section>

        </footer>
</article>
{% endif %}
<!-- #ace-card -->


