    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="{{ site.description }}|{{page.title}}">
	<meta name="keywords"  content="{{ site.keyword }}">

	<title>
        {% if page.title %}
            {{ page.title }} &middot; 
        {% endif %}
        {{ site.title }}
    </title>

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

	<!-- Icon Fonts -->
	<link href="/public/fonts/icomoon/style.css" rel="stylesheet">

	<!-- Styles -->
	<link href="/public/js/plugins/highlight/solarized-light.css" rel="stylesheet">
	<link href="/public/css/style.css" rel="stylesheet">
	<link href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

	<!-- Modernizer -->
	<!-- <script type="text/javascript" src="/public/js/vendor/modernizr-3.3.1.min.js"></script> -->
	