
<article id="ace-card" class="ace-card bg-primary  index-card hidden-sm hidden-xs">
        {% if site.sidebar.avatar.enable %}
        <div class="ace-card-inner text-center">
            <img class="avatar avatar-195" src="{{ site.sidebar.avatar.img }}" width="195" height="195"
                alt="">
            <h1>{{ site.author }}</h1>
            <p class="text-muted">{{ site.sidebar.description }}</p>
            <ul class="ace-social clear-list">
                {% for s in site.sidebar.social %}
                    <li><a href="{{ s.href }}" title="{{ s.title }}" ><span class="{{ s.class }}"></span></a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <footer class="ace-card-footer">
            <!-- 标签分类 -->

            <section id="tag_cloud-2" class="widget widget_tag_cloud">
                <h2 class="widget-title">Tags</h2>
                <div class="tagcloud">
                    {% for tag in site.tags %}
                        <a href="/tags#{{ tag[0] }}"  rel="{{ tag[1].size }}" class="tag-link-5 tag-link-position-1" title="{{ tag[0] }}"  style="font-size: 1em;">
                            {{ tag[0] }}
                        </a>
                    {% endfor %}
                </div>
            </section>
            <section class="widget "> 
                    <!-- 统计运行时间格式化 -->
                    {% include time.html %}
            </section>
    
            <section class="widget"> 
                    <!-- 统计浏览量和访问人数 -->
                    {% include busuanzi.html %}
            </section>
            <a class=" btn-thin btn-upper " href="//github.com/XtrueT/xtruet.github.com">View On GitHub</a>
        </footer>
</article>

<!-- #ace-card -->


