<!-- 相关博文3个 -->
{% if site.post.related.enable %}

<section id="recent-posts-3" class="widget widget_recent_entries">
    <h4 class="widget-title"> {{ site.post.related.title }} </h4>
    <ul>
        {% for post in site.related_posts limit:3 %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
            <div class="post-category-comment">
                {% if post.tags %}
                    <a  rel="category tag"  class="post-category" href="/tags#{{ post.tags }}">{{ post.tags }}</a>
                {% endif %}
                <a href="" class="post-comments">{{ post.date | date:"%Y-%m-%d" }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

{% endif %}




