<!-- 激励（微信支付宝） -->
{% if site.post.reward.enable %}

    <div class="reward">
        <button 
            id="rewardButton" 
            disable="enable"
            onclick="show_reward()">
            {{ site.post.reward.text }}
        </button>
        <div id="rewardQRs" style="display: none">
            <table>
                <tr>
                    {% for node in site.post.reward.img %}
                        <td id="{{ node.id }}" class="reward_qr">
                            <img id="{{ node.id }}_qr" src="{{ node.src }}" alt="{{ site.author }}{{ node.id }}" width="100" hight="100">
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <script>
            function show_reward(){
                document.getElementById('rewardQRs').style.display = document.getElementById('rewardQRs').style.display==="none"?"block":"none";
            }
        </script>
    </div>

{% endif %}
