<!-- 激励（微信支付宝） -->
{% if site.post.reward.enable %}

    <div class="reward" style="text-align: center;margin: 30px;">
        <a
            style="padding: 15px;border: 1px solid black;margin: 10px;"
            id="rewardButton" 
            disable="enable"
            onclick="show_reward()">
            {{ site.post.reward.text }}
        </a>
        <div id="rewardQRs" style="display: none;padding: 20px; ">
            {% for node in site.post.reward.img %}
                <td id="{{ node.id }}" class="reward_qr">
                    <img id="{{ node.id }}_qr" src="{{ node.src }}" alt="{{ site.author }}{{ node.id }}" height="200px">
                </td>
            {% endfor %}
        </div>
        <script>
            function show_reward(){
                document.getElementById('rewardQRs').style.display = document.getElementById('rewardQRs').style.display==="none"?"flex":"none";
            }
        </script>
    </div>

{% endif %}
