<header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
    <div class="ace-head-inner">
        <div class="ace-head-container ace-container">
            <div class="ace-head-row">
                <!-- logo -->
                <div id="ace-head-col1" class="ace-head-col text-left">
                    <a id="ace-logo" class="ace-logo" href="/">
                        <!-- <img src="img/uploads/brand/logo.svg" alt="ace resume"> -->
                        <span>.Xtrue</span>
                    </a>
                </div>

                <div id="ace-head-col2" class="ace-head-col text-right">
                    <div class="ace-nav-container ace-container hidden-sm hidden-xs">
                        <nav id="ace-main-nav">
                            <ul class="clear-list">
                                {% include nav.html %}
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- 侧边栏按钮 -->
                <div id="ace-head-col3" class="ace-head-col text-right">
                    <button id="ace-sidebar-btn" class="btn btn-icon btn-light btn-shade">
                        <span class="ace-icon ace-icon-side-bar-icon"></span>
                    </button>
                </div>
            </div>
        </div><!-- .ace-container -->
    </div><!-- .ace-head-inner -->
</header><!-- #ace-header -->