<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">

<head>
	{% include head.html %}
</head>

<body class="category">

	<!-- Scripts -->
	<script type="text/javascript" src="/public/js/vendor/jquery-1.12.4.min.js"></script>

	<!-- <script type="text/javascript" src="/public/js/plugins/highlight/highlight.pack.js"></script> -->
	<!-- <script type="text/javascript" src="/public/js/plugins/jquery.mCustomScrollbar.min.js"></script> -->
	<!-- <script type="text/javascript" src="/public/js/plugins/isotope.pkgd.min.js"></script> -->
	<!-- <script type="text/javascript" src="/public/js/plugins/progressbar.min.js"></script> -->
	<!-- <script type="text/javascript" src="/public/js/plugins/slick.min.js"></script> -->

	<!-- <script type="text/javascript" src="/public/js/options.js"></script> -->
	<script type="text/javascript" src="/public/js/main.js"></script>

	{% for s in site.script %}

		<script src="{{ s.src }}"></script>

	{% endfor %}
	
	<div class="ace-wrapper">

		{% include top_nav.html %}

		{{ content }}
		
		<!-- #ace-sidebar -->
		{% include sidebar.html %}
		
		<!-- Triangle Shapes -->
		<svg id="ace-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
			<polygon points="0,455,693,352,173,0,92,0,0,71"
				style="fill:#d2d2d2;stroke:purple;stroke-width:0; opacity: 0.5">
		</svg>

		<svg id="ace-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
			<polygon points="0,0,633,0,633,536" style="fill:#c0e3e7;stroke:purple;stroke-width:0" />
		</svg>
	</div>
	<!-- .ace-wrapper -->

	{% include back_top.html %}
	{% include footer.html %}
</body>
</html>