<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>
    <header class="box header box-shadow">
        <nav class="box nav">
            <h1 class="title" title="{{page.title}}">{{page.title}}</h1>
            {% include search.html %}
            <span class="logo">
                <input id="menu" role="checkbox" class="toggle" type="checkbox" aria-label="打开菜单（open menu）"/>
                <label for="menu" class="avatar">
                    <img src="{{site.avatar}}" alt="{{site.author}}"/>
                </label>
                <label class="mask" for="menu"></label>
                <ul class="box-shadow menu"  role="menubar">
					{% for node in site.nav %}
                    <li  role="menuitem" {% if page.url == node.href %}  class="active" {% endif %} tabindex="0">
						<a href="{{ node.href }}" title="{{ node.title }}" tabindex="0">
							{{ node.title }}
						</a>
					</li>
					{% endfor %}
                </ul>
            </span>
        </nav>
    </header>

    <main>
		{{ content }}
    </main>

    <footer class="box footer">
        <small> {{ site.author }} &copy; {{ site.time | date: '%Y' }} <a href="//github.com/XtrueT">view on Github</a> </small>
    </footer>
	{% include back_top.html %}

	{% if page.layout == "post" %}
		{% for s in site.script %}
			<script src="{{ s.src }}"></script>
		{% endfor %}
	{% endif %}
</body>
</html>