<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body {%if site.body.enable %} {{site.body.bg-style}} {% endif %}>

	<div id="app" class="primary">
		<div id="layout">
			{% include zeroHeader.html %}

			{% include zeroSidebar.html %}

			<div id="zero-content" class="animated fadeInUp">
				<div class="zero-container">
					<div class="zero-paper-stock ">
						<div class="zero-paper clearfix">
							<div class="zero-paper-body">
								<header id="zero-pageHeader">
									<h1 class="text-upper title">{{page.title}}</h1>
								</header>
								{{ content }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-sm hidden-xs">
				{% include zeroFooter.html %}
			</div>
		</div>
	</div>

	{% include back_top.html %}

	{% if page.layout == "post" %}
		{% for s in site.script %}
			<script src="{{ s.src }}"></script>
		{% endfor %}
	{% endif %}

</body>
</html>