---
layout: default
title: {{page.title}}
---

<div class="post">

	<!-- 文章信息 -->
	{% if site.post.meta.enable %}

		<small class="post-date">
	<!-- 时间 -->
		{% if site.post.meta.date %}
			<i class="fas fa-calendar-day"></i>
			{{ page.date | date_to_string }}
		{% endif %}
	<!-- 字数 -->
		{% if site.post.meta.wordcount.enable %}
			<i class="fas fa-file-word"></i>
			{{ page.content | strip_html | strip_newlines | remove: " " | size }}
			{{ site.post.meta.wordcount.unit }}
		{% endif %}
	<!-- 阅读用时 -->
		{% if site.post.meta.readtime.enable %}
			<i class="fas fa-coffee"></i>
			{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: site.post.meta.readtime.divided_by | plus: 1 }}
			{{ site.post.meta.readtime.unit }}
		{% endif %}
	<!-- 署名 -->
		{% if site.post.meta.visitor.enable %}
			<span id="{{ page.url }}" class="leancloud-visitors" data-flag-title="{{ page.title }}">
				<i class="far fa-eye"></i>
				<span class="leancloud-visitors-count">{{ site.post.meta.visitor.unit }}</span>
			</span>
		{% endif %}
			{{ site.post.meta.copyright }}
		</small>

	{% endif %}

	<!-- 文章内容 -->
	<div class="post-content">
		{{ content }}
	</div>

	<!-- 相关博文3个 -->
	{% if site.post.related.enable %}

		<div class="related">
			{{ site.post.related.title }}

			<ul class="related-posts">
				{% for post in site.related_posts limit:3 %}
				<li>
					<a href="{{ site.baseurl }}{{ post.url }}">
						{{ post.title }}
						<small>{{ post.date | date_to_string }}</small>
					</a>
				</li>
				{% endfor %}
			</ul>

		</div>

	{% endif %}
	
	<!-- 激励（微信支付宝） -->
	{% if site.post.reward.enable %}

		<div class="reward">
			<button 
				id="rewardButton" 
				disable="enable"
				onclick="
				var qr = document.getElementById('rewardQRs'); 
				if (qr.style.display === 'none') {
					qr.style.display='block';
				} else {
					qr.style.display='none';
			}">
				<span>{{ site.post.reward.text }}</span>
			</button>
			<div id="rewardQRs">
				<table>
					<tr>
						{% for node in site.post.reward.img %}
							<td id="{{ node.id }}" class="reward_qr">
								<img id="{{ node.id }}_qr" src="{{ node.src }}" alt="{{ site.author }}{{ node.id }}">
							</td>
						{% endfor %}
					</tr>
				</table>
			</div>
		</div>

	{% endif %}

	{% include valine.html %}

</div>
