---
layout: default
---

<section class="box box-shadow main-inner">
	<article class="content">
	<header>
		<h2>{{page.title}}</h2>
	</header>
		{% include post_meta.html %}
		{% include toc.html %}
		{{ content }}
	<hr/>
	<ul class="box post-urls">
		{% if page.previous.url %}
		<li class="previous">
			<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}">
			Previous：<span>{{page.previous.title}}</span>
			</a>
		</li>
		{% endif %}
		{% if page.next.url %}
		<li class="next">
			<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">
			Next：<span>{{page.next.title}}</span>
			</a>
		</li>
		{% endif %}
	</ul>
	<hr/>
	<!-- 激励（微信支付宝） -->
	{% include reward.html %}
	<!-- 评论 -->
	{% include valine.html %}
	</article>
</section>